.userIcon {
  border-radius: 50%;
}

.userIcon:hover {
  cursor: pointer;
  box-shadow: 0 0 3px 2px #695597;
  border-radius: 50%;
}

.classicAvatar {
  box-shadow: 0 0 2px 2px #fff;
  background: linear-gradient(
    120deg,
    #6656a5 0%,
    #8b4f8f 25%,
    #c75b3e 48%,
    #e38b3f 72%,
    #e5c15c 100%
  );
}

.specialAvatar {
  box-shadow: 0 0 4px 4px #ffc80099;
  background: conic-gradient(
      from var(--angle) at 50% 80px,
      rgba(255, 0, 0, 0.34),
      rgba(255, 165, 0, 0.34),
      rgba(255, 255, 0, 0.94),
      rgba(0, 255, 0, 0.34),
      rgba(171, 45, 213, 0.94),
      rgba(0, 255, 255, 0.34),
      rgba(0, 0, 255, 0.94),
      rgba(76, 52, 124, 0.34),
      rgba(171, 45, 213, 0.94),
      rgba(255, 0, 0, 0.34)
    )
    border-box;
  animation: rotateBorder 8s linear infinite;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotateBorder {
  to {
    --angle: 360deg;
  }
}

.defaultAvatar {
  box-shadow: 0 0 2px 2px #fff;

  background: linear-gradient(
    120deg,
    #6656a5 0%,
    #8b4f8f 25%,
    #c75b3e 48%,
    #e38b3f 72%,
    #e5c15c 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border-radius: 50%;
  color: white;
  text-shadow: 2px 2px 10px #000;
}
