.quizCard {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
  background: #ffffffb0;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px #d5d5d5;
}
