.answerButton {
  margin: 5px;
  border-radius: 30px;
  width: 300px;
  height: 55px;
  font-size: 15px;
  background-color: white;
  border: 1px solid #d5d5d59e;
  box-shadow: 0 0 4px 1px #d5d5d5;
  cursor: pointer;
}

.correctAnswer {
  background-color: #dcfede;
  color: black;
}

.incorrectAnswer {
  background-color: #ffdcdc;
  color: black;
}
