.answerButton {
  margin: 5px;
  border-radius: 30px;
  width: 300px;
  height: 63px;
  padding: 0 10px;
  font-size: 14px;
  background-color: white;
  border: 1px solid #d5d5d59e;
  box-shadow: 0 0 4px 1px #d5d5d5;
  cursor: pointer;
  line-height: 17px;
}

.correctAnswer {
  background: linear-gradient(135deg, #e0ffec, #cffbde);
  color: #0f5132;
}

.incorrectAnswer {
  background: linear-gradient(135deg, #ffe6e6, #ffd1d1);
  color: #7a1c1c;
}
