.resetPasswordSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
}

.label {
  position: relative;
  display: block;
  width: 250px;
  display: flex;
  border-radius: 6px;
  box-shadow: 0 0 2px 3px #fff;
  padding: 10px;
  text-align: left;
  background-color: white;
  animation: fadeIn 0.7s ease-in-out;

  .icon {
    position: absolute;
    top: 53%;
    right: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    color: #695597;
  }

  .icon:hover {
    cursor: pointer;
  }

  input {
    background-color: white;
    outline: none;
    border: none;
    color: black;
    font-size: 16px;
    width: 90%;
  }
}
