.loginArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.loginArea p {
  margin: 0;
}

.signInButton {
  height: 30px;
  width: 80px;
  border-radius: 20px;
  background: linear-gradient(135deg, #d84048, #f68c40);
  box-shadow: 0 0 2px 1px #a63137;
  color: white;
  text-shadow: 1px 1px 2px #69452b;
  border: none;
  font-size: 15px;
  font-weight: bold;
}
