.quizSection {
  width: 100%;
  height: 90dvh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  gap: 10px;
  padding-top: 15px;
}

.logoWrapper {
  z-index: 10;
  display: flex;
  align-items: center;
}

.logoWrapper a {
  display: flex;
  justify-content: center;
}
