.quizSection {
  width: 100%;
  height: 90dvh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.quizNew {
  display: flex;
  justify-content: center;
  align-items: center;
}
