.quizContainer{
    display: flex;
    flex-direction: column;
    margin: 60px 10px 10px 10px;
    align-items: center;
    width: auto;
    text-align: center;
}

.questionBlock {
    width: 90%;
    border: solid rgba(204, 204, 204, 0.451);
    border-radius: 5%;
    margin: 8px;
    padding: 5px 5px 20px 5px;
    background-color: rgba(255, 255, 255, 0.18);
}

.quizAnswersContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    
}


