.quizHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questionCounter {
  width: 15%;
}

.quizHeader p {
  margin: 0;
}

.questionNum {
  box-shadow: 1px 1px 7px 2px #b62c9f;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  width: 70%;
  text-align: center;
}

.category {
  border-radius: 20px;
  padding: 3px 10px;
  text-align: center;
}

.correctAnswers {
  width: 15%;
  text-align: end;
}
