.quizHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questionCounter {
  width: 15%;
  text-shadow: 1px 1px 6px #a7a7a7;
}

.quizHeader p {
  margin: 0;
}

.questionNum {
  box-shadow: 1px 1px 7px 2px #b62c9f;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  width: 70%;
  text-align: center;
  font-size: 18px;
  /* box-shadow: 0 0 11px 1px #662f8e8c; */
  border-radius: 20px;
}

.subcategory {
  text-align: center;
}

.category {
  text-align: center;
  font-size: 16px;
  color: #555555;
}

.correctInfoContainer {
  width: 15%;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: flex-end;
  border-radius: 50px;
}

.correctInfoContainer p {
  margin: 0;
}

.correctAnswers {
  display: flex;
  text-shadow: 1px 1px 6px #a7a7a7;
}
