.quizHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.leftHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  justify-content: center;
}

.questionCounter {
  color: white;
  text-shadow: 1px 1px 6px #a7a7a7;
  position: absolute;
  top: -30px;
  left: -30px;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 5px 2px #d5d5d5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #543d80;
}

.quizHeader p {
  margin: 0;
}

.questionNum {
  box-shadow: 1px 1px 7px 2px #b62c9f;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  width: 70%;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
  height: 100%;
}

.lesson {
  text-align: center;
}

.grade {
  text-align: center;
  font-size: 16px;
  color: #555555;
}

.correctInfoContainer {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: flex-end;
  border-radius: 50px;
}

.correctIcon {
  color: #4caf50;
}

.correctInfoContainer p {
  margin: 0;
}

.correctAnswers {
  display: flex;
  text-shadow: 1px 1px 6px #a7a7a7;
}

.rightHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #555555;
  text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
}

.referralIcon {
  font-size: 24px;
  color: #543d80;
}

.referralText {
  font-size: 12px;
}
