.comingSoonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.comingSoonText {
  font-size: 16px;
  color: #f0f8ff;
  text-shadow: 2px 2px 10px #000;
  margin-top: 10px;
}

.comingSoonImage {
  width: 300px;
  height: auto;
}
