.okButton {
  border-radius: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #ffb077, #ff7d1e);
  box-shadow: 0 0 5px 4px #d5d5d5;
  color: white;
  cursor: pointer;
  text-decoration: none;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  min-width: 120px;
  font-size: 16px;
}

.okButton:hover {
  background: linear-gradient(135deg, #e19c6b, #d16518);
  box-shadow: 0 0 5px 4px #b6b6b6;
}
