.menuContainer {
  width: 100%;
  height: 60px;
  display: flex;
  position: sticky;
  top: 0;
  background-color: #ffffff6e;
  backdrop-filter: blur(2px);
  justify-content: space-between;
  z-index: 1;
  align-content: center;
  align-items: center;
}

.logoIcon,
.loginArea {
  margin: 15px;
}
