.menuContainer {
  width: 100%;
  height: 60px;
  display: flex;
  position: sticky;
  top: 0;
  background-color: #e9e9e9c3;
  justify-content: center;
  z-index: 1;
}

.logoIcon {
  margin: 5px 12px 0 0;
}
