.menuContainer {
  width: 100%;
  height: 60px;
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #ffffff6e;
  backdrop-filter: blur(2px);
  justify-content: space-between;
  z-index: 1;
  align-content: center;
  align-items: center;
}

.myQuizzes {
  cursor: pointer;
  color: #ffa100;
  text-shadow: 2px 2px 10px #000;
  font-size: 20px;
  text-decoration: none;
}

.logoIcon,
.loginArea {
  margin: 15px;
}
