.menuContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: #e9e9e9e4;
  justify-content: space-between;
  
}

.myLinks li {
  list-style-type: none; 
}

.myLinks li a {
  color: rgb(0, 0, 0);
  font-size: 25px;
  text-shadow: rgb(175, 123, 123) 1px 0 10px;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
  border: red sol;
}


.menuIcon {
  margin-left: 12px;
}

.active {
  color: rgb(0, 0, 0);
  align-self: center;
  display: flex;
  flex-direction: column;
}

.logoIcon {
  margin: 5px 12px 0 0;
}

