.menuContainer {
  width: 100%;
  height: 60px;
  display: flex;
  position: sticky;
  top: 0;
  background-color: #e9e9e9c3;
  justify-content: space-between;
  z-index: 1;
  align-content: center;
  align-items: center;
}

.logoIcon {
  margin: 15px;
}
