.cardsContainer {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Improves scrolling on iOS */
  width: 100%;
}

.cardsContainer::-webkit-scrollbar {
  display: none; /* Hides scrollbar for a cleaner look */
}
