.menuContainer {
  width: 100vw;
  height: 60px;
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: #ffffffa8;
  backdrop-filter: blur(2px);
  justify-content: space-around;
  z-index: 1;
  align-content: center;
  align-items: center;
}

.myQuizzes {
  cursor: pointer;
  color: #ffa100;
  text-shadow: 2px 2px 10px #000;
  font-size: 20px;
  text-decoration: none;
}

.logoIcon {
  margin-left: 10px;
  height: auto;
}

.menuOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #695597;
}

.menuOptionText {
  font-size: small;
}
