.menuSection {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  position: fixed;
  background-color: #ffffffa8;
  backdrop-filter: blur(2px);
  justify-content: space-between;
  z-index: 20;
  align-items: center;
  padding: 0 20px;
}

.logoWrapper {
  display: flex;
  flex: 1;
  position: absolute;
  left: 10px;
}

.menuMobile .menuOptionsContainer {
  justify-content: flex-end;
}

.menuOptionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(30px, 10vw, 200px);
  width: 100%;
}

.myQuizzes {
  cursor: pointer;
  color: #ffa100;
  text-shadow: 2px 2px 10px #000;
  font-size: 20px;
  text-decoration: none;
}

.menuOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #695597;
  font-size: small;
}

.menuOption:hover {
  color: #4e4070;
}

.menuOptionText {
  font-size: small;
}

.accountContainer {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  flex-direction: column;
  color: #695597;
  font-size: small;
}

.accountContainer:hover {
  color: #d16518;
}

.avatarContainer {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: small;
  align-items: center;
}

.userName {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 150px;
  color: #695597;
}

.accountButton {
  border-radius: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #ffb077, #ff7d1e);
  box-shadow: 0 0 2px 1px #ffad72;
  color: white;
  cursor: pointer;
  text-decoration: none;
  border: none;
  font-weight: bold;
  min-width: 120px;
  height: 40px;
  font-size: 16px;
}

.accountButton:hover {
  background: linear-gradient(135deg, #e19c6b, #d16518);
}

@media (min-width: 600px) {
  .menuSection {
    top: 0;
  }
}

@media (max-width: 599px) {
  .menuSection {
    bottom: 0;
    padding: 0 10px;
  }

  .menuOptionsContainer {
    justify-content: space-between;
  }

  .accountContainer {
    position: relative;
  }

  .logoWrapper {
    display: none;
  }

  .userName {
    max-width: 90px;
  }
}
