.swiperButton {
  border-radius: 50%;
  position: absolute;
  border: none;
  display: flex;
  justify-content: center;
  background-color: #ffffff9b;
  padding: 10px;
  box-shadow: 0 0 3px 2px #ffffff;
}
