.quizContainer{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    width: auto;
    text-align: center;
}

.quizAnswersContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
}

/* .answerButton {
    margin: 5px;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    font-size: large;

}

.correctAnswer {
    margin: 5px;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    font-size: large;
    background-color: green;
}

.incorrectAnswer {
    margin: 5px;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    font-size: large;
    background-color: red;
    
} */