.quizContainer{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}

.quizAnswers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 500px;
    margin-top: 50px;
}

.quizAnswers h3 {
    padding: 30px;
    margin: 5px;
    border: solid black;
    border-radius: 10px;

}