html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  min-height: 90vh;
  width: 100%;
  padding-bottom: 60px;
  margin: 0;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/background2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

p {
  color: #333333;
}

button {
  cursor: pointer;
  color: #333333;
}

h1 {
  color: #f0f8ff;
  text-shadow: 2px 2px 10px #000;
}
