body {
  font-family: var(--font-nunito-sans), sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-image: url("/images/background2.webp");
  background-size: contain;
  background-attachment: fixed;
}

p {
  color: #333333;
}

button {
  cursor: pointer;
  color: #333333;
}
