html,
body {
  margin: 0;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/images/background2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

p {
  color: #333333;
}

button {
  cursor: pointer;
  color: #333333;
}

h1 {
  color: #f0f8ff;
  text-shadow: 2px 2px 10px #000;
}
