html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  min-height: 100vh;
  width: 100%;
  padding-bottom: 60px;
  background-image: url("/images/background2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
}

p {
  color: #333333;
}

button {
  cursor: pointer;
  color: #333333;
}

h1 {
  color: #f0f8ff;
  text-shadow: 2px 2px 10px #000;
}
