.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: gray; */
  height: 100%;
}

.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.navList li {
  margin: 0;
}

.navList a {
  text-decoration: none;
  color: #0070f3;
}

.navList a:hover {
  text-decoration: underline;
}