.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}

.allQuizCategories {
  display: flex;
  flex-direction: column;
  align-items: center;
}
