.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}

.schoolLevels {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}

.schoolLevelTitle {
  color: #ffb5b5;
  font-size: 30px;
  border-radius: 20px;
  margin-left: 30px;
  text-shadow: 2px 2px 10px #000;
}

.gradesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.allDefaultGrades {
  display: flex;
  flex-direction: column;
  align-items: center;
}
