.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  position: absolute;
  top: 45%;
  right: 5px;
  gap: 5px;
}

.buttonImage {
  border-radius: 50%;
  left: 10px;
  border: none;
  display: flex;
  justify-content: center;
  background-color: #ffffff9b;
  box-shadow: 0 0 3px 2px #dfdfdf;
}

.buttonImage:hover {
  background-color: #e6e6e69b;
}

.buttonText {
  font-size: 16px;
  text-shadow: 0px 0px 4px #000;
  color: #ededed;
}

@media (min-width: 1000px) {
  .buttonContainer {
    right: 300px;
  }
}
