.nextButton {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #ffb077, #ff7d1e);
  box-shadow: 0 0 2px 1px #ffad72;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 1px 1px 4px #a7a7a7;
  color: white;
  cursor: pointer;
  text-decoration: none;
  border: none;
}
