.blurBackground {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  position: absolute;
  top: 0;
  z-index: 1;
}

.popUpResultsContainer {
  border-radius: 10px;
  width: 80%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  box-shadow: 0 0 5px 2px #d5d5d5;
  overflow: hidden;
}

.popUpResultsContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/images/backgroundResult.avif");
  background-size: cover;
  filter: blur(2px);
  z-index: -1;
  border-radius: 10px;
}

.congratulationsMessage {
  font-size: 20px;
  text-align: center;
  color: #222;
  text-shadow: 1px 1px 5px #0000004d;
  padding: 5px;
}

.resultMessage {
  font-size: medium;
  color: #333;
  text-shadow: 1px 1px 5px #0000004d;
}

.correctAnswers {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgb(210, 61, 236), #6f0c81);
  font-size: 20px;
  text-shadow: 1px 1px 5px #000000a9;
  color: white;
  border: solid #d5e6ea;
  box-shadow: 0 0 5px 2px #d5d5d5;
  border-radius: 50%;
}

.seeResultsButton {
  width: 180px;
  height: 30px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(135deg, rgb(210, 61, 236), #6f0c81);
  color: white;
  font-size: 14px;
  text-shadow: 1px 1px 15px #000000;
  box-shadow: 0 0 5px 4px #d5d5d5;
  cursor: pointer;
  margin-bottom: 10px;
}
