.award {
  position: relative;
  height: auto;
  width: 35px;
  overflow: hidden;
  cursor: pointer;
}

.award:hover {
  box-shadow: 0 0 18px 0px #ffffff4d;
  background-color: #ffffff23;
  border-radius: 50%;
}

.goldenRibbon {
  box-shadow: 0 0 18px rgba(255, 200, 0, 0.6);
  border-radius: 50%;
  background: #ffffff23
    conic-gradient(
      from var(--angle) at 50% 120px,
      rgba(255, 0, 0, 0.1),
      rgba(255, 165, 0, 0.1),
      rgba(255, 255, 0, 0.1),
      rgba(0, 255, 0, 0.1),
      rgba(0, 255, 255, 0.1),
      rgba(238, 130, 238, 0.1),
      rgba(255, 0, 0, 0.1)
    )
    border-box;
  animation: rotateBorder 4s linear infinite;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotateBorder {
  to {
    --angle: 360deg;
  }
}

.awardCounter {
  position: absolute;
  box-shadow: 0 0 2px 3px #fff;
  background-color: white;
  text-shadow: 1px 1px 5px #000;
  color: black;
  border-radius: 50%;
  right: 0;
  min-width: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  z-index: 1;
}

.goldenRibbonAward {
  width: 45px;
  position: absolute;
  bottom: -120px;
  left: 120px;
}
