.quizCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 10px;
  box-shadow: 0 0 2px 3px #d5d5d5;
  border-radius: 20px;
  background: linear-gradient(
    70deg,
    #665980f3 0%,
    #59428cf1 50%,
    #50338ef5 100%
  );
  height: 285px;
  text-align: center;
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 130px;
  padding: 10px 0;
  gap: 10px;
  color: white;
  position: relative;
  overflow: visible;
  box-sizing: border-box;
}

.completedQuiz {
  position: absolute;
  top: -15px;
  left: -20px;
  overflow: hidden;
}

.medal {
  position: absolute;
  top: 40px;
  left: -25px;
  overflow: hidden;
}

.starsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.starIcon {
  position: relative;
  top: 2px;
}

.cardTop h1 {
  margin: 0;
  font-size: 50px;
  text-shadow: 1px 1px 12px #000000;
}

.cardBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.cardBottom h3 {
  font-size: medium;
  height: 30px;
  text-shadow: 1px 1px 12px #000;
  padding: 0 5px;
  margin: 0;
  display: flex;
  align-items: center;
}

.cardBottom p {
  font-size: small;
  height: 60px;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 5px #000;
  width: 90%;
  align-self: center;
}
