.quizCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 10px;
  box-shadow: 0 0 2px 3px #d5d5d5;
  border-radius: 20px;
  background: linear-gradient(70deg, #665980 0%, #59428c 50%, #50338e 100%);
  height: 255px;
  text-align: center;
  flex: 0 0 auto;
  scroll-snap-align: start;
  max-width: 140px;
  padding: 10px 0;
  gap: 10px;
  color: white;
}

.cardTop {
  width: 40%;
}

.cardTop h1 {
  margin: 0;
  font-size: 50px;
  text-shadow: 1px 1px 12px #000000;
}

.cardBottom {
  display: flex;
  flex-direction: column;
}

.cardBottom h3 {
  font-size: medium;
  height: 20px;
  text-shadow: 1px 1px 12px #000;
  margin: 10px 0 30px 0;
}

.cardBottom p {
  font-size: small;
  height: 60px;
  margin: 5px 0;
  color: white;
  text-shadow: 1px 1px 5px #000;
}
