.progress {
  border-radius: 17px;
  width: 100%;
  height: 15px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.progress::-webkit-progress-bar {
  border-radius: 7px;
}
.progress::-webkit-progress-value {
  border-radius: 7px;
  background-color: #4caf50;
}
