.cardsContainer {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  max-width: 100vw;
  align-items: center;
}

.cardsContainer::-webkit-scrollbar {
  display: none;
}

.category {
  color: #ffa100;
  text-shadow: 2px 2px 10px #000;
  text-align: center;
}

.swiperLeft {
  border-radius: 50%;
  position: absolute;
  left: 10px;
  border: none;
  display: flex;
  justify-content: center;
  background-color: #ffffff9b;
  padding: 10px;
  box-shadow: 0 0 3px 2px #ffffff;
}

.swiperRight {
  border-radius: 50%;
  position: absolute;
  right: 10px;
  border: none;
  display: flex;
  justify-content: center;
  background-color: #ffffff9b;
  padding: 10px;
  box-shadow: 0 0 3px 2px #ffffff;
}
