.cardsContainer {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  max-width: 100vw;
  align-items: center;
}

.cardsContainer::-webkit-scrollbar {
  height: 9px;
}

.cardsContainer::-webkit-scrollbar-track {
  background: transparent;
}

.cardsContainer::-webkit-scrollbar-thumb {
  background-color: #4c3c6d;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px #8c6ec7;
}

.cardsContainer::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.grade {
  color: #ffa100;
  text-shadow: 2px 2px 10px #000;
  text-align: center;
}

@media (min-width: 1000px) {
  .cardsContainer {
    max-width: 100%;
    justify-content: center;
  }
}
