.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.answersContainer {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  box-sizing: border-box;
}
