.buttonContainer {
  display: flex;
  flex-direction: column;
}

.buttonContainer button {
  height: 40px;
  width: 100px;
  border-radius: 20px;
  background: linear-gradient(135deg, #d84048, #f68c40);
  box-shadow: 0 0 2px 1px #a63137;
  color: white;
  border: none;
  font-size: 15px;
  font-weight: bold;
}

.buttonContainer button:hover {
  cursor: pointer;
}
