.popupWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 51;
  animation: fadeIn 0.3s ease-in-out;
}

.popupContent {
  position: relative;
  top: 50px;
  margin: 30px 10px;
  background: linear-gradient(
    70deg,
    #665980f3 0%,
    #59428cf1 50%,
    #50338ef5 100%
  );
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px #d5d5d5;
  max-width: 320px;
}

.closeButton {
  position: absolute;
  top: -10;
  right: -10;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 0 2px 3px #ffffff;
  width: 25px;
  height: 25px;
  color: #f68c40f2;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #ffffff;
  box-sizing: border-box;
}

.title {
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 5px 0 10px 0;
}

.avatarsContainerHeader {
  display: flex;
  justify-content: space-around;
}

.avatarsContainerHeader button {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f68c40f2;
  background-color: #fdfdfd1d;
  border: none;
  font-size: 18px;
  font-weight: bold;
}

.avatarsContainerHeader div:hover {
  cursor: pointer;
  background-color: #fdfdfd34 !important;
}

.avatarsContainerHeader button:disabled {
  opacity: 0.5;
  transform: none;
  box-shadow: none;
  cursor: not-allowed;
}

.selectedCategory {
  background: #fdfdfd46 !important;
}

.avatarsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  background-color: #fdfdfd1d;
  padding: 15px 0;
  border-radius: 0 0 20px 20px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.avatarsContainer::-webkit-scrollbar {
  width: 6px;
}

.avatarsContainer::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 10px;
}

.avatarsContainer::-webkit-scrollbar-track {
  background: transparent;
}

.avatarIcon {
  box-shadow: 0 0 2px 2px #fff;
  border-radius: 50%;
  background: linear-gradient(
    120deg,
    #6656a5 0%,
    #8b4f8f 25%,
    #c75b3e 48%,
    #e38b3f 72%,
    #e5c15c 100%
  );
  animation: fadeIn 0.3s ease-in-out;
}

.avatarIcon:hover {
  cursor: pointer;
  box-shadow: 0 0 4px 4px white;
}

.selected {
  box-shadow: 0 0 4px 4px #ff7d1e !important;
  transform: scale(1.11);
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
