.userProfileSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  animation: fadeIn 0.4s ease-in-out;
  padding: 0 20px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.userProfile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.userProfileInfo {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  border-radius: 20px;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.userProfileDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.userProfileDetails p {
  margin: 0;
  text-shadow: 1px 1px 5px #000000;
}

.userFullName {
  color: white;
  font-size: 20px;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  word-break: break-word;
}

.userEmail {
  color: #ffb077;
  font-size: 16px;
}

.userIconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.changeIcon {
  color: #ffb22e;
  position: absolute;
  bottom: -2;
  right: -10;
  z-index: 0;
  background-color: #4c347c;
  border-radius: 10px;
  cursor: pointer;
  padding: 1px;
  border: solid #6f6289 1px;
}

.achievementsTitle {
  margin: 0 0 10px 0;
  font-size: 20x;
  color: white;
}

.achievementsContainer {
  background-color: #00000017;
  border-radius: 20px;
  padding: 0 10px 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 2px 1px #fff;
}

.achievementsHeaderContainer {
  display: flex;
  flex-direction: column;
}

.achievementsSummary {
  display: flex;
  gap: 5px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.377);
  justify-content: center;
}

.achievementsSummary p {
  margin: 0;
  color: white;
  padding: 10px 0;
  text-shadow: 1px 1px 5px #000000;
}

.awardsContainer {
  display: flex;
  width: 100%;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}

.awardContainer {
  box-shadow: 0 0 3px 2px #ffffff6e;
  border-radius: 10px;
  width: 90px;
  height: 120px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.663);
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.awardContainer p {
  margin: 0;
}

.awardName {
  font-size: 12px;
  text-align: center;
}

.seperator {
  max-width: 400px;
  width: 100%;
  margin: 15px 0;
}

.deleteAccountContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  max-width: 300px;
}

.deleteAccountContainer p {
  color: white;
  font-size: 14px;
  margin: 0;
  text-align: center;
}

.clickableText {
  color: #ffb077 !important;
  text-decoration: underline;
}

.clickableText:hover {
  cursor: pointer;
  color: #c4885e !important;
}
