.announcementsContainer {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.announcementText {
  position: fixed;
  top: 160px;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  text-align: center;
  background-color: #f68c40f2;
  box-shadow: 0 0 2px 3px #d5d5d5;
  text-shadow: 2px 2px 10px #ffffff;
  padding: 5px;
}
