.popupWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 51;
}

.popupContent {
  margin: 20px;
  background: linear-gradient(
    70deg,
    #665980f3 0%,
    #59428cf1 50%,
    #50338ef5 100%
  );
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px #d5d5d5;
}

.message {
  color: white;
  font-size: 18px;
  text-align: center;
}

.questionIdContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.questionId {
  color: white;
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
}

.copiedText {
  width: 100%;
  color: white;
  font-size: 13px;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
