.accordionContainer {
  display: flex;
  flex-direction: column;
  color: #f0f8ff;
  background: #654e92f3;
  border-radius: 10px;
}

.questionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  cursor: pointer;
}

.question {
  font-size: 18px;
  padding: 10px;
  color: #ffb638;
  text-shadow: 1px 1px 7px #000;
}

.question:hover {
  color: #d0942b;
}

.answer {
  padding: 0 10px 15px 10px;
  font-size: 16px;
}
